# dependencies
node_modules/
bun.lockb

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
prisma/*.db
prisma/*.db-journal

# logs
logs/
*.log

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# coverage
coverage/
